/* $navbar-default-bg: black; */

@import "bootstrap-sprockets";
@import "bootstrap";

.navbar-default {
  background-color: steelblue;
}

.navbar-default .navbar-brand {
  color: white;
}
.navbar-default .navbar-nav > li > a {
  color: white;
}
.navbar-default .navbar-brand:hover {
  color: white;
  opacity: 0.75;
}
.navbar-default .navbar-nav > li > a:hover {
  color: white;
  opacity: 0.75;
}

#logo {
  float: left;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;
}

.center {
  text-align: center;
}

.jumbotron {
  background-image: asset-url('sedonaBG.png');
  background-size: cover;
  height: 400px;
}

.jumbotron h1 {
  text-align: center;
}


.article-meta-details {
  border-top: 1px solid steelblue;
  margin-top: 15px;
}


.article-actions {
  border-top: 1px solid steelblue;
  padding-top: 5px;
}

.description {
  margin-top: 0px;
}

.article-title{
  font-weight: bold;
  font-size: 1.5em;
}

.article-body {
  border-top: 1px solid steelblue;
  padding-top: 15px; 
  padding-bottom:15px;

}

.listing {
  list-style: none;
  padding-left: 0;
}

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 3px solid steelblue;
}

footer a:hover {
  color: darkblue;
}

footer small {
  float: left;
}

footer ul {
  float: right;
  list-style: none;
}

footer ul li {
  float: left;
  margin-left: 15px;
}






